In [2]:
import pandas as pd

In [5]:
df = pd.read_parquet("data/data-2025-07.parquet")

In [6]:
df

,station,train_name,final_destination_station,delay_in_min,time,is_canceled,train_type,train_line_ride_id,train_line_station_num,arrival_planned_time,arrival_change_time,departure_planned_time,departure_change_time
0,Aschaffenburg Hbf,HLB RB75,Darmstadt Hbf,13,2025-07-01 00:00:00,False,HLB,7705396428285892876-2506302347,1,NaT,NaT,2025-06-30 23:47:00,2025-07-01 00:00:00
1,Aschaffenburg Hbf,ICE 20,Frankfurt(Main)Hbf,80,2025-07-01 00:25:00,False,ICE,5903101010412136106-2506301713,11,2025-06-30 23:04:00,2025-07-01 00:23:00,2025-06-30 23:05:00,2025-07-01 00:25:00
2,Aschaffenburg Hbf,ICE 520,Frankfurt(Main)Hbf,57,2025-07-01 00:32:00,False,ICE,8573811631662133764-2506302048,5,2025-06-30 23:34:00,2025-07-01 00:29:00,2025-06-30 23:35:00,2025-07-01 00:32:00
3,Aschaffenburg Hbf,HLB RB58,Aschaffenburg Hbf,14,2025-07-01 00:05:00,False,HLB,7716594812186754331-2506302233,18,2025-06-30 23:51:00,2025-07-01 00:05:00,NaT,NaT
4,Augsburg Hbf,ICE 613,München Hbf,160,2025-07-01 00:35:00,False,ICE,5295243416856313869-2506301237,17,2025-06-30 21:53:00,2025-07-01 00:33:00,2025-06-30 21:55:00,2025-07-01 00:35:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019921,Hamburg-Altona,S 1,Wedel(Holst),0,2025-07-31 23:11:00,False,S,5823977036821936079-2507312228,20,2025-07-31 23:10:00,2025-07-31 23:10:00,2025-07-31 23:11:00,2025-07-31 23:11:00
2019922,Hamburg-Altona,S 1,Wedel(Holst),3,2025-07-31 23:14:00,False,S,-2946950597323299448-2507312232,17,2025-07-31 23:10:00,2025-07-31 23:13:00,2025-07-31 23:11:00,2025-07-31 23:14:00
2019923,Hamburg-Altona,S 1,Wedel(Holst),2,2025-07-31 23:53:00,False,S,-5726971871542223575-2507312308,20,2025-07-31 23:50:00,2025-07-31 23:52:00,2025-07-31 23:51:00,2025-07-31 23:53:00
2019924,Hamburg-Altona,S 3,Hamburg-Neugraben,21,2025-07-31 23:54:00,False,S,-3127323251828845261-2507312309,10,2025-07-31 23:32:00,2025-07-31 23:53:00,2025-07-31 23:33:00,2025-07-31 23:54:00
2019925,Mainz Hbf,RB 26,Bingen(Rhein) Hbf,-57,2025-07-31 23:13:00,False,RB,-4800519778142256146-2508010010,1,NaT,NaT,2025-08-01 00:10:00,2025-07-31 23:13:00

In [9]:
df["station"].unique()

<StringArray>
[   'Aschaffenburg Hbf',         'Augsburg Hbf', 'Bietigheim-Bissingen',
           'Bochum Hbf',             'Bonn Hbf',     'Braunschweig Hbf',
           'Bremen Hbf',             'Bruchsal',   'Singen(Hohentwiel)',
         'Dortmund Hbf',
 ...
       'Oberhausen Hbf',        'Pforzheim Hbf',          'Cottbus Hbf',
      'Frankfurt(Oder)',      'Halle(Saale)Hbf',         'Chemnitz Hbf',
        'Magdeburg Hbf',          'Rostock Hbf',               'Weimar',
          'Potsdam Hbf']
Length: 107, dtype: string

In [13]:
df["delay_in_min"].describe().astype(int)

count    2019926
mean           4
std           11
min         -382
25%            0
50%            1
75%            4
max          498
Name: delay_in_min, dtype: int64

In [7]:
df2 = pd.read_parquet("data/data-2025-06.parquet")

In [8]:
df2

,station,train_name,final_destination_station,delay_in_min,time,is_canceled,train_type,train_line_ride_id,train_line_station_num,arrival_planned_time,arrival_change_time,departure_planned_time,departure_change_time
0,Aachen Hbf,RE 1,Aachen Hbf,67,2025-06-01 01:14:00,False,RE,7157250219775883918-2505312120,26,2025-06-01 00:07:00,2025-06-01 01:14:00,NaT,NaT
1,Aachen Hbf,RB 33,Aachen Hbf,0,2025-06-01 00:27:00,True,RB,6548269022931127007-2505312331,15,2025-06-01 00:27:00,2025-06-01 00:27:00,NaT,NaT
2,Aachen Hbf,RE 1,Hamm(Westf)Hbf,0,2025-06-01 00:51:00,True,RE,1648857726819354655-2506010051,1,NaT,NaT,2025-06-01 00:51:00,2025-06-01 00:51:00
3,Aachen Hbf,RB 33,Heinsberg(Rheinl),0,2025-06-01 00:37:00,True,RB,-4528361791873529800-2506010037,1,NaT,NaT,2025-06-01 00:37:00,2025-06-01 00:37:00
4,Aachen Hbf,RB 33,Aachen Hbf,0,2025-06-01 00:27:00,True,RB,-1095863660843387454-2505312235,27,2025-06-01 00:27:00,2025-06-01 00:27:00,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1921650,Hamburg-Altona,S 3,Pinneberg,0,2025-06-30 23:09:00,False,S,-1566485321624376000-2506302228,16,2025-06-30 23:08:00,2025-06-30 23:08:00,2025-06-30 23:09:00,2025-06-30 23:09:00
1921651,Hamburg-Altona,S 2,Hamburg-Altona,0,2025-06-30 23:30:00,False,S,6103880648710513562-2506302246,16,2025-06-30 23:30:00,2025-06-30 23:30:00,NaT,NaT
1921652,Hamburg-Altona,S 3,Hamburg Elbgaustraße,0,2025-06-30 23:19:00,False,S,1131061763278260844-2506302238,16,2025-06-30 23:18:00,2025-06-30 23:18:00,2025-06-30 23:19:00,2025-06-30 23:19:00
1921653,Hamburg-Altona,S 1,Wedel(Holst),0,2025-06-30 23:11:00,False,S,5823977036821936079-2506302228,20,2025-06-30 23:10:00,2025-06-30 23:10:00,2025-06-30 23:11:00,2025-06-30 23:11:00
1921654,Hamburg-Altona,S 1,Hamburg Airport,0,2025-06-30 23:11:00,False,S,2521778129364702113-2506302243,11,2025-06-30 23:10:00,2025-06-30 23:10:00,2025-06-30 23:11:00,2025-06-30 23:11:00

In [9]:
pd.concat([df, df2], axis=0)

,station,train_name,final_destination_station,delay_in_min,time,is_canceled,train_type,train_line_ride_id,train_line_station_num,arrival_planned_time,arrival_change_time,departure_planned_time,departure_change_time
0,Aschaffenburg Hbf,HLB RB75,Darmstadt Hbf,13,2025-07-01 00:00:00,False,HLB,7705396428285892876-2506302347,1,NaT,NaT,2025-06-30 23:47:00,2025-07-01 00:00:00
1,Aschaffenburg Hbf,ICE 20,Frankfurt(Main)Hbf,80,2025-07-01 00:25:00,False,ICE,5903101010412136106-2506301713,11,2025-06-30 23:04:00,2025-07-01 00:23:00,2025-06-30 23:05:00,2025-07-01 00:25:00
2,Aschaffenburg Hbf,ICE 520,Frankfurt(Main)Hbf,57,2025-07-01 00:32:00,False,ICE,8573811631662133764-2506302048,5,2025-06-30 23:34:00,2025-07-01 00:29:00,2025-06-30 23:35:00,2025-07-01 00:32:00
3,Aschaffenburg Hbf,HLB RB58,Aschaffenburg Hbf,14,2025-07-01 00:05:00,False,HLB,7716594812186754331-2506302233,18,2025-06-30 23:51:00,2025-07-01 00:05:00,NaT,NaT
4,Augsburg Hbf,ICE 613,München Hbf,160,2025-07-01 00:35:00,False,ICE,5295243416856313869-2506301237,17,2025-06-30 21:53:00,2025-07-01 00:33:00,2025-06-30 21:55:00,2025-07-01 00:35:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1921650,Hamburg-Altona,S 3,Pinneberg,0,2025-06-30 23:09:00,False,S,-1566485321624376000-2506302228,16,2025-06-30 23:08:00,2025-06-30 23:08:00,2025-06-30 23:09:00,2025-06-30 23:09:00
1921651,Hamburg-Altona,S 2,Hamburg-Altona,0,2025-06-30 23:30:00,False,S,6103880648710513562-2506302246,16,2025-06-30 23:30:00,2025-06-30 23:30:00,NaT,NaT
1921652,Hamburg-Altona,S 3,Hamburg Elbgaustraße,0,2025-06-30 23:19:00,False,S,1131061763278260844-2506302238,16,2025-06-30 23:18:00,2025-06-30 23:18:00,2025-06-30 23:19:00,2025-06-30 23:19:00
1921653,Hamburg-Altona,S 1,Wedel(Holst),0,2025-06-30 23:11:00,False,S,5823977036821936079-2506302228,20,2025-06-30 23:10:00,2025-06-30 23:10:00,2025-06-30 23:11:00,2025-06-30 23:11:00
1921654,Hamburg-Altona,S 1,Hamburg Airport,0,2025-06-30 23:11:00,False,S,2521778129364702113-2506302243,11,2025-06-30 23:10:00,2025-06-30 23:10:00,2025-06-30 23:11:00,2025-06-30 23:11:00

In [ ]:
datalist = [
    "data/data-2024-07.parquet"
    "data/data-2024-08.parquet"
    "data/data-2024-09.parquet"
    "data/data-2024-10.parquet"
    "data/data-2024-11.parquet"
    "data/data-2024-12.parquet"
    "data/data-2025-01.parquet"
    "data/data-2025-02.parquet"
    "data/data-2025-03.parquet"
    "data/data-2025-04.parquet"
    "data/data-2025-05.parquet"
    "data/data-2025-06.parquet"
    "data/data-2025-07.parquet"
]

for dataset in datalist:
    if dataset == datalist[0]:
        df = pd.read_parquet(datalist[0])
    else:
        df = pd.concat([df, pd.read_parquet(dataset)], axis=0)